@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


/*
 * loading screen
 */

#preloader {
    transition: opacity 0.5s ease-in-out;
}

#preloader.hidden {
    opacity: 0;
    pointer-events: none;
}